body {


    .myDiv {
        color: rgb(0, 139, 127);
        border: 2px solid rgba(0, 167, 167, 0.719);
        text-align: center;
        border-radius: 3vh;
        padding: 3vh;
        width: 60vw;

        .skillDiv {
            display: flex;
            flex-direction: column;
            .skillBarContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 3vh;
            }

            margin-left:5vw;
            display: flex;
            flex-direction: column;

            .skillBar {
                margin-top: 20px;
                height: 10px;
                margin-left: 20px;
                display: flex;
                width: 30vw;
                background-color: #949494;
                padding: 2px;
                border-radius: 12px;

                .innerBar {
                    box-sizing: inherit;
                    display: flex;
                    justify-content: end;
                    width: 10vw;
                    background-color: #4cffe4;
                    border-radius: 12px;

                    .percentBox {

                        position: sticky;
                        justify-self: end;
                        align-self: end;
                        margin-left: 15px;
                        left: 10px;
                        z-index: 10;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #202048;
                        color: #f8f8f8;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }



        }
    }
}