
:root{
    --myTextColor: rgb(0, 95, 102);   
    --mylinkColor: rgb(185, 218, 212);   
    --myBgColor1: rgba(130, 173, 166, 0.452);  
     
   
   }
   
   @mixin centerItemFlex($x,$y){
       display: flex;
       justify-content: $x;
       align-items: $y;
   };
   @mixin centerItemGrid($x,$y){
       display: grid;
       justify-content: $x;
       align-items: $y;
   };
   @mixin myBgGradient($to,$x,$y,$z){
       background-image: linear-gradient(to $to,$x,$y,$z)
   };
   
   

body{

    
    .myDiv{
       
        color: rgb(0, 139, 127);       
        text-align: center;      
        padding: 3vh;
        border-radius: 3vh;
       @include centerItemGrid(stretch,stretch );
       grid-template-rows: 1fr 10fr;

          
        //    h1{
        //     position: absolute;
        //     left: 0;
        //     color: rgb(255, 255, 255);
        //     border-bottom: 1px solid white;
        //     }
            //  @include centerItemGrid(center,center );
            //  grid-template-columns: 1fr 9fr;
            .category{
                
                flex: 1;
                // border: 1px solid red;
                text-align: center;
                @include centerItemFlex(center,center );
                button{
                    color:rgb(70, 133, 124);
                    height: 5vh;
                    width: 10vw;
                    border-radius: 10% ;
                    border: 1px solid white;
                    background-color: rgb(238, 238, 238);
                    &:hover{
                        cursor: pointer;
                        color: white;
                        background-color: rgb(0, 143, 143);
                    }
               
               
                }
            
            
            }
            .display{

                overflow-y: scroll;
                &::-webkit-scrollbar{
                    display: none;
                };
                scrollbar-width: none;

                flex: 9;
                // border: 1px solid red;
                text-align: center;
                @include centerItemGrid(stretch,stretch );
                grid-template-columns: 1fr 1fr ;
                gap: 3vw;
                
                .cardProject{
                 background-color: white;
                 height: 50vh;
                 border-radius: 1vh;
                 background-color: rgba(247, 247, 247, 0.521);
                }
            }
       

        
    }
}