
body{

    
    .myDiv{
        
       color:rgb(0, 139, 127);
       border-radius: 3vh;
       flex: 1 ;
       padding: 3vh;
       text-align: center;
       width: 60vw;
       height: 70vh;
       
       


        
    }
}